defaults
  mode http
  timeout client 10s
  timeout connect 5s
  timeout server 10s
  timeout http-request 10s

frontend stats
  bind *:8404
  stats enable
  stats uri /
  stats refresh 10s

frontend http
  bind *:80
  
  acl ACL_haproxy.lan hdr(host) -i garuda.lan
  acl ACL_gitlab.lan hdr(host) -i gitlab.garuda.lan docker.garuda.lan
  acl ACL_prometheus.lan hdr(host) -i prometheus.garuda.lan
  acl ACL_dns-server.lan hdr(host) -i dns.garuda.lan
  
  use_backend haproxy-servers if ACL_haproxy.lan
  use_backend gitlab-servers if ACL_gitlab.lan
  use_backend prometheus-servers if ACL_prometheus.lan
  use_backend dns-servers if ACL_dns-server.lan

# frontend https
#   bind *:443 ssl crt /usr/local/etc/haproxy/certificates/
#   http-request add-header X-Forwarded-Proto https

#   acl ACL_gitlab.lan hdr(host) -i gitlab.garuda.lan docker.garuda.lan
#   acl ACL_prometheus.lan hdr(host) -i prometheus.garuda.lan
#   acl ACL_dns-server.lan hdr(host) -i dns.garuda.lan

#   use_backend gitlab-servers if ACL_gitlab.lan
#   use_backend prometheus-servers if ACL_prometheus.lan
#   use_backend dns-servers if ACL_dns-server.lan

backend haproxy-servers
  server haproxy proxy:8404

backend gitlab-servers
  server gitlab gitlab:80 check

backend prometheus-servers
  server prometheus prometheus:9090 check

backend dns-servers
  server technitium dns-server:5380 check

